body {
  background-color: #007bff;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #0056b3;
  padding: 10px 0;
}

.nav-button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button.active {
  background-color: #fff;
  color: #0056b3;
  border-radius: 5px;
  position: relative;
}

.nav-button.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  z-index: -1;
  border-radius: 5px;
}

.budgeting-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 530px;
  margin-top: 20px;
}

.view-button {
  background-color: #db78e8;
  color: #000;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(251, 219, 77, 0.434) 0px 7px 29px 0px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.budget-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 20px;
}

.budget-progress {
  width: 210px;

}

.budget-progress-list {
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress {
  height: 20px;
  background-color: #fcd12a;
}

.amount-spent-box {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  margin: 10px auto;
}

.recommendations-and-history {
  display: flex;
  justify-content: space-between;
  width: 92%;
  gap: 25px;
}

.recommendations-box, .history-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.recommendations {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.selected {
  border: 2px solid black;
}

.recommendation {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  font-weight: 600;
  width: 30%;
}

.set-budget-button, .check-history-button {
  background-color: #e0e0e0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}

.set-budget-button:hover, .check-history-button:hover {
  background-color: #d0d0d0;
}

.set-budget-button.enabled {
  background-color: #2E7D32;
  cursor: pointer;
}

.set-budget-button.disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.section-title {
  background: linear-gradient(to right, #006fe6d0 0%, #004696d0 100%);
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 8px;
  padding-left: 15px;
  border-radius: 15px;
}


.overview-title {
  font-weight: 600;
  font-size: 24px;
  border-bottom: solid 1px rgb(168, 161, 161);
  margin-bottom: 12px;
}

.overview-subtitle {
  font-weight: 400;
  font-size: 18px;
}

.overview-balance {
  font-weight: 600;
  font-size: 24px;
}
