body {
  background-color: #007bff;
  font-family: "Inter";
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #0056b3;
  padding: 10px 0;
}

.nav-button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button.active {
  background-color: #fff;
  color: #0056b3;
  border-radius: 5px;
  position: relative;
}


.budgeting-content {
  background-color: white;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.section-title {
  background: linear-gradient(to right, #006fe6d0 0%, #004696d0 100%);
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 8px;
  padding-left: 15px;
  border-radius: 15px;
  text-align: left;
}

.budget-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.budget-item {
  width: 47%;
  background: linear-gradient(to right, #2d5eb3, #4a76c4);
  padding: 10px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

.budget-category {
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
}

.budget-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.budget-goal {
  font-weight: bold;
  font-size: 18px;
  margin-left: -10px;
}

.budget-input {
  margin-left: -10px;
  width: 45px;
  color: black;
  padding: 2px;
  border-radius: 6px;
}

.goal-input {
  width: 45px;
  padding: 2px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid gray;
  font-weight: 400;
}

.goal-input::-webkit-inner-spin-button,
.goal-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.amount {
  font-size: 18px;
}

.percentage {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.see-more {
  background: rgb(223, 231, 235);
  border: none;
  color: black;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.total-spent {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 600;
  flex-grow: 0.05;
}


.progress-bar {
  flex-grow: 1;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress {
  height: 20px;
  background-color: #fcd12a;
}

.go-back {
  background: lightgray;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.edit-button {
  background-color: #4CAF50;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
  color: white;
  height: 100%;
}

.button-group {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.cancel-button {
  background: #e1e1e1;
  padding-left: 20px;
  color: black;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 20px;
  font-weight: 400;
  font-weight: 500;
  padding-bottom: 10px;

}


.sum-button {
  background: #ed7530;
  padding-left: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  padding-right: 20px;
  font-weight: 500;
}

.submit-button {
  background: #4CAF50;
  padding-left: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  padding-right: 20px;
  font-weight: 500;
}

.submit-button.enabled {
  background: #4CAF50;
  cursor: pointer;
}

.submit-button.disabled {
  background: #808080;
  cursor: not-allowed;
}

.warning-message {
  font-weight: 700;
  color: red;
  margin-left: -20px;
}
