<!DOCTYPE html>
<html data-overlayscrollbars-initialize>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <link type="text/css" href="path/to/overlayscrollbars.css" rel="stylesheet" />
    <script type="text/javascript" src="path/to/overlayscrollbars.browser.es.js" defer></script>
    <title>FinScholar Financial App</title>
  </head>
  <body data-overlayscrollbars-initialize id="#body">
    <div id="root"></div>
  </body>
  <script>
    import 'overlayscrollbars/overlayscrollbars.css';
    import 'overlayscrollbars/styles/overlayscrollbars.css';

    var {
      OverlayScrollbars,
      ScrollbarsHidingPlugin,
      SizeObserverPlugin,
      ClickScrollPlugin
    } = OverlayScrollbarsGlobal;
    const osInstance = OverlayScrollbars(document.querySelector('#body'), {});
  </script>
</html>
