<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <link type="text/css" href="path/to/overlayscrollbars.css" rel="stylesheet" />
    <script type="text/javascript" src="path/to/overlayscrollbars.browser.es.js" defer></script>
    <title>Financial Corporation®</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
